body{
    /* background-color: #cdecff;
    background-image: linear-gradient(160deg, #cdecff 0%, #c8fffa 100%); */
    
}

.navbar{
    background-color: #0021a3 !important;
    color: black !important;
}

.main-body{
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: #E5E0FF;
}

.btn{
    width: 10%;
}

.row{
    align-items: center;
    justify-content: center;
}